@font-face {
  font-family: amharic-like;
  src: url("../fonts/amharic-like.ttf");
}
html {scroll-behavior: smooth;}
/* 
==================================
   RULESET for RESPOSIVE DESIGN
==================================
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.show {display: inherit;}
.hide {display: none;}

.show-sm, .show-md, .show-lg, .show-xl, .show-sm-up, .show-md-up,
.show-lg-up, .show-xl-up {display: none;}

/* ====================================== */
.top-header, .top-header-scroll, h1 {
	font-family: amharic-like;
}
.top-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #000000;
	background-image: url("../img/backgrounds/bg_parallax_1_op.jpg");
	text-align: center;
}
.header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
	color: #d1d1d1;
}
.profile-img {
	padding: 0;
	margin: .5rem;
	width: 10rem;
	border-radius: 50%;
	border: .25em #fff solid;
	background-image: url("../img/backgrounds/sefed.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.nav {
	padding-top: .25em;
	padding-bottom: .25em;
	background: url("../img/backgrounds/552581.jpg");
	background-size: cover;
}
.nav-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	padding: .2em;
}
.nav-item, .nav-item-scroll {
	border-image: url("../img/backgrounds/bg_dynamic_2h2.jpg") 30 round;
	border-width: 8px;
	border-style: solid;
	width: 30%;
}

.btn, .btn-scroll {
	padding: .15em;
	color: #fff;
	text-decoration: none;
}
.icon {
	width: 2em;
	height: 2em;
}
.stick-nav {
	position: sticky;
	width: 100vw;
	top: 0;
}

.top-header-scroll {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: .2em;
  background: url("../img/backgrounds/552581.jpg");
	background-size: cover;
}

.nav-items-scroll {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	list-style-type: none;
}
.nav-item-scroll {
	/*width: 30%;*/
	margin: .1em .25em;
	border-width: 10px;
	border-image-repeat: round;
}
.header-scroll {
	padding: .25em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-img-scroll {
	width: 5em;
	margin-left: 3em;
	border-radius: 50%;
	border: 2px #fff solid;
}
.social-links {
	position: fixed;
	right: 0;
	top: 40vh;
	display: inherit;
	background-color: #fff;
	border: 1px #000 solid;
	border-right: none;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}
.social-links .icon {
	width: 1.5rem;
	height: 1.5rem;
	margin: .75rem;
	animation: zoom-in-out 2s infinite both ease-in-out;
}

.social-items {list-style-type: none;}
.social-item {
	background: linear-gradient(to bottom, #fff, #eee);
}
.social-item:first-child {border-top-left-radius: 1rem;}
.social-item:last-child {border-bottom-left-radius: 1rem;}

article {
	line-height: 2em;
	color: #999;
	margin: .25em .25em;
	padding: 1em;
	text-align: justify;
	font-family: "courier";
	font-weight: 800;
}
article h1 {
	font-size: 2em;
	padding: .5em .25em;
	color: #000;
}
.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.bg-img {background-attachment: scroll;}
.bgimg-1 {background-image: url("../img/backgrounds/bg_parallax_1_op.jpg");}
.bgimg-2 {background-image: url("../img/backgrounds/bg_parallax_2_op.jpeg");}
.bgimg-3 {background-image: url("../img/backgrounds/bg_parallax_3_op.jpg");}
.bgimg-4 {background-image: url("../img/backgrounds/bg_parallax_4_op.jpeg");}
.bgimg-5 {background-image: url("../img/backgrounds/bg_parallax_5_op.jpg");}
.bgimg-6 {background-image: url("../img/backgrounds/bg_parallax_6_op.jpg");}

.side-img {min-height: 35em;}

[class*="bgimg-"] {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
}
.logo {width: 1em;}
.small {
	margin-left: 1em;
	color: #000;
}
.experience h2 {font-size: 1.5em; text-align: left;}
.experience h3 {color: #444; font-size: 1em;}
.experience .side-img {min-height: 37em;}
.experience ul {list-style-type: circle;margin-left: 2em;}

.skills h4 {color: #000;}
.skills li div {color: #545454;}
.skills ul {
	margin-left: 1em;
}
.skills ul li {
	margin-left: 1em;
	list-style-type: square;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color:  rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: .5em;
}

.modal-header {
	border-bottom: .1em #010101 solid;
	padding: .5em;
	font-family: amharic-like;
	font-size: 1.5em;
}
.gallery-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card {
	padding: 1em;
}
.card-img {
	width: auto;
	max-height: 20em;
	border-radius: 2em;
}
.close {
	font-size: 2em;
	background-color: red;
	color: #fff;
	padding: 0 .25em;
	border-radius: .25em;
	float: right;
}
.modal-body {
	display: flex;
	justify-content: center ;
}
.modal-body img {
	width: 80%;
	height: 30em;
	object-fit: cover;
}

.form-group {
	display: flex;
	margin: 1em;
	flex-direction: column;
	justify-content: center;
	width: 70vw;
}
.form-group label {color: #0f0f0f;}
.form-group input, .form-group textarea {
	padding: .5em;
}
.form-group input::placeholder, .form-group textarea::placeholder {
	font-variant: small-caps;
}
.form-group textarea {
	height: 10em;
	resize: none;
}
.form-group button {
	width: 10em;
	padding: .75em;
	/*margin-left: auto;*/
	margin-right: auto;
	border-radius: .25em;
	background-color: #d1d1d1;
	outline: none;
	border-width: 0;
	font-size: 1em;
	font-weight: bolder;
}
.cv {
	position: fixed;
	top: 90%;
	/*left: 90%;*/
	right: 1.5em;
}
.cv a {
	text-decoration: none;
	padding: 1em;
	background-color: dodgerblue;
	color: #fff;
	border-radius: 3em;
	font-variant: small-caps;
	font-weight: bolder;
}
.down-icon {
	width: 1.5em;
	vertical-align: middle;
	filter: invert(80);
}
.footer {
	width: 100%;
	height: 10em;
	background-image: url("../img/backgrounds/bg_parallax_1_op.jpg");	
}

.footer-social-items {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}
.footer-social-item {
	margin: 1em;
}
.d-icon {width: 4em;}
.footer-note {
	text-align: center;
	font-size: 1.5em;
	font-weight: bolder;
	color: #fff;
}

@keyframes zoom-in-out {
  0% {transform: scale(1.05);}
  20% {transform: scale(1.075);}
  40% {transform: scale(1.1);}
  60% {transform: scale(1.075);}
  80% {transform: scale(1.05);}
  100% {transform: scale(1.0);}
}

/* Small devices (portrait tablets and large phones, 612px and up) */
@media only screen and (min-width: 612px) {
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
	.show-sm, .show-sm-up {display: unset;}

	.show-es, .show-md, .show-lg, .show-xl,
	.show-md-up, .show-xl-up, .show-lg-up {display: none;}
	.show-md-up {display: none;}
	.profile-img {
		width: 20rem;
	}
	.top-header {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.nav {
		width: 25rem;
		height: 100vh;
		background-image: url("../img/backgrounds/brana_rm _1.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.nav .row {height: 100vh;}
	.nav-items {
		margin: .25em;
		margin-top: 6rem;
		height: 70vh;
		flex-direction: column;
		align-self: center;
		align-items: center;
		justify-content: space-evenly;
	}
	.nav-item {
		border-image: unset;
		border-width: unset;
		border-style: unset;
		width: unset;
	}
	.btn {
		padding: 1em;
		margin: 1em;
		text-shadow: 1em 1em 1em #fff;
		color: #181818;
	}
	.btn-scroll {
		color: #fff;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}
	.show-md, .show-md-up {display: inherit;}
	.show-es, .show-sm, .show-lg, .show-xl,
	.show-lg-up, .show-xl-up {display: none;}
	.nav-items {margin-bottom: 1.75rem;}
	.bg-img {
		position: relative;
	  opacity: 0.95;
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover
	}
	.top-header {opacity: unset;}
	article {
		margin:3em 4em;
		margin-top: 5em;
		padding: 2em;
	}
	[class*="bgimg-"] {
		min-height: 400px;
	}
	.gallery-cards {
		flex-direction: row;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.col-lg-1 {width: 8.33%;}
	.col-lg-2 {width: 16.66%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.33%;}
	.col-lg-5 {width: 41.66%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.33%;}
	.col-lg-8 {width: 66.66%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100%;}
	.show-lg, .show-lg-up {display: inherit;}
	.show-es, .show-md, .show-sm, .show-xl,
	.show-xl-up {display: none;}
	article {
		margin:3em 4em;
		margin-top: 5em;
		padding: 2em;
		width: 60vw;
	}
	.form-group {
		width: 90%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.col-xl-1 {width: 8.33%;}
	.col-xl-2 {width: 16.66%;}
	.col-xl-3 {width: 25%;}
	.col-xl-4 {width: 33.33%;}
	.col-xl-5 {width: 41.66%;}
	.col-xl-6 {width: 50%;}
	.col-xl-7 {width: 58.33%;}
	.col-xl-8 {width: 66.66%;}
	.col-xl-9 {width: 75%;}
	.col-xl-10 {width: 83.33%;}
	.col-xl-11 {width: 91.66%;}
	.col-xl-12 {width: 100%;}
	.show-xl, .show-xl-up {display: inherit;}
	.show-es, .show-md, .show-lg, .show-sm {display: none;}
}